@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/*VARIABLES*/
$primary-color: #53ad47;
$primary-color-light: #d4d4d4;
$primary-color-dark: #8d8d8d;
@if not $primary-color-light {
    $primary-color-light: lighten($primary-color, 15%);
}
@if not $primary-color-dark {
    $primary-color-dark: darken($primary-color, 15%);
}
$secondary-color: #000;
$success-color: green;
$error-color: red;

$link-color: #FFF;

/*GENERAL STYLE*/

header {
	height: 73px;
}

h4 {
	color: $primary-color-light;
	padding-top: 20px;
}

h5 {
	color: $primary-color;
}
h5.bot-heading {
	color: $primary-color-dark;
}

table.list-table,
table.list-table > thead > tr > th {
    border: 1px solid #ddd;
}

.form-control:focus {
    border-color: #53ad47;
}
.form-control {
    background: #f4f4f4;
    border: 1px solid #f4f4f4;
    box-shadow: none;
    padding: 20px;
}
.select-form-control {
    background: #f4f4f4;
    border: 1px solid #f4f4f4;
    box-shadow: none;
    padding: 10px;
    border-radius: 3px;

    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
}

.btn-primary,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:target,
.btn-primary.target,
.btn-primary:active,
.btn-primary.active, 
.open > .btn-primary.dropdown-toggle {
    color: $link-color;
    background-color: #f6c103 !important;
    border-color: #f6c103 !important;
}
.btn-primary:hover {
    background-color: #f6c61c;
    border-color: #f6c61c;
}

.top-heading {
    min-height: 73px;
    border-bottom: 1px solid #e1e2e2;
}
.top-right-btn {
	padding-top: 20px;
}
.line-break {
	border-bottom: 1px solid #e1e2e2;
    margin-top: 30px;
    margin-bottom: 0;
}
.row-spacer-top-bot {
	margin-top: 5px;
    margin-bottom: 5px;
}
.cb-padding-top {
    padding-top: 10px;
}
.link-to-checkboxes-bg {
    background: #f4f4f4;
    border-radius: 7px;
}
.link-to-checkboxes {
    max-height: 260px;
    height: 260px;
    overflow-y: scroll;
    overflow: auto;
    margin: 15px 5px 15px 5px;
}
.link-to-checkboxes > div > div > label.checkbox-inline {
	width: 100%;
    margin-left: 10px;
}
label.checkbox-inline {
    color: #8d8d8d;
}
.padding-left-none {
    padding-left: 0px !important;
}

/*
 * http://cssdeck.com/labs/css3-webkit-vertical-scrollbars/
 * SCROLLBAR CUSTOME STYLE*/
.custom-scrollbar::-webkit-scrollbar-track
{
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    border-radius: 10px;
    background-color: #d9d9d9;
}

.custom-scrollbar::-webkit-scrollbar
{
    width: 7px;
    background-color: #d9d9d9;
}

.custom-scrollbar::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
    background-color: #4a9f3f;
}