/*VARIABLES*/
$primary-color: #53ad47;
$primary-color-light: #9ee195;
$primary-color-dark: #3d8333;
@if not $primary-color-light {
    $primary-color-light: lighten($primary-color, 15%);
}
@if not $primary-color-dark {
    $primary-color-dark: darken($primary-color, 15%);
}
$secondary-color: #000;
$success-color: green;
$error-color: red;

$link-color: #FFF;
$link-active-color: #f9e366;
$box-shadow-normal: 1px 0 5px #cecece;

/* STYLES */
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 231px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 231px;
    width: 0;
    height: 100%;
    margin-left: -231px;
    overflow-y: auto;
    background: $primary-color;
    box-shadow: $box-shadow-normal;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 231px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -231px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 231px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: $link-color;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li.active {
    background: #4a9f3f;
}

.sidebar-nav li.active > a {
    color: $link-active-color;
}
.sidebar-nav li.active > a > .i-sidebar-chevron {
    display: block !important;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 75px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.i-sidebar-chevron {
    margin-right: 20px;
    margin-top: 13px;
    color: #FFF;
    display: none !important;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 231px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 231px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
        padding-top: 0;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}